@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.accordion {
    width: 800px; height: 400px;
    overflow: hidden;

	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.accordion ul {
    width: 200px;
}

.accordion li {
    position: relative;
	display: block;
	width: 160px;
	float: left;

    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);

    transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.accordian ul:hover li {width: 40px;}
.accordian ul li:hover {width: 640px;}

.accordian li img {
	display: block;
}

.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
    width: 640px;
}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}



/* .accordian {
	width: 805px; height: 320px;
	overflow: hidden;
	
	/*Time for some styling*/
	/*margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
} */

/*A small hack to prevent flickering on some browsers*/
/* .accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*//*
} */

/* .accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5); */
	
	/*Transitions to give animation effect*/
	/* transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s; */
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
/* } */

/*Reduce with of un-hovered elements*/
/* .accordian ul:hover li {width: 40px;} */
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
/* .accordian ul li:hover {width: 640px;} */


/* .accordian li img {
	display: block;
} */

/*Image title styles*/
/* .image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
    width: 640px;
}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
} */